USE [master]
GO
/****** Object:  Database [QLPG]    Script Date: 10/06/2021 2:57:51 CH ******/
CREATE DATABASE [QLPG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLPG', FILENAME = N'D:\MSQL\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLPG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLPG_log', FILENAME = N'D:\MSQL\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLPG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLPG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLPG]
GO
/****** Object:  User [milo]    Script Date: 10/06/2021 2:57:52 CH ******/
CREATE USER [milo] FOR LOGIN [milo] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[account]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](20) NOT NULL,
	[pwd] [nvarchar](20) NOT NULL,
	[rol] [nvarchar](10) NOT NULL,
	[staff_id] [int] NOT NULL,
	[avatar] [image] NULL,
	[active] [bit] NOT NULL,
 CONSTRAINT [PK__account__3213E83FCA2CA447] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[des_rcp]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[des_rcp](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rcp_code] [nvarchar](20) NOT NULL,
	[eg_code] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[eglist]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eglist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[eg_name] [nvarchar](20) NOT NULL,
	[warranty] [int] NOT NULL,
	[unit] [nvarchar](10) NOT NULL,
	[batch] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__eglist__3213E83F6FF14525] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equip_group]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equip_group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rcp_code] [nvarchar](20) NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [money] NOT NULL,
	[eg_name] [nvarchar](20) NOT NULL,
	[warranty] [int] NOT NULL,
	[unit] [nvarchar](10) NOT NULL,
	[batch] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipment]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[eg_id] [int] NOT NULL,
	[des] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[receipt]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[receipt](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rcp_code] [nvarchar](20) NOT NULL,
	[rcp_date] [date] NOT NULL,
	[supplier_id] [int] NOT NULL,
	[staff_id] [int] NOT NULL,
	[total] [money] NOT NULL,
 CONSTRAINT [PK__receipt__3213E83FC461EA79] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[record]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[record_date] [datetime] NOT NULL,
	[act] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__record__3213E83F1BB60E76] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_code] [nvarchar](20) NOT NULL,
	[first_name] [nvarchar](10) NOT NULL,
	[last_name] [nvarchar](20) NOT NULL,
	[birth_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[state]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[state](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[equipment_id] [int] NOT NULL,
	[state_date] [datetime] NOT NULL,
	[state_des] [nvarchar](20) NOT NULL,
	[check] [bit] NOT NULL,
	[act] [nvarchar](50) NULL,
 CONSTRAINT [PK_state] PRIMARY KEY CLUSTERED 
(
	[equipment_id] ASC,
	[state_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[tax_id] [nvarchar](20) NOT NULL,
	[address] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

SET IDENTITY_INSERT [dbo].[account] OFF
GO
SET IDENTITY_INSERT [dbo].[equip_group] ON 

INSERT [dbo].[equip_group] ([id], [rcp_code], [quantity], [price], [eg_name], [warranty], [unit], [batch]) VALUES (44, N'123456', 3, 123000.0000, N'may a', 12, N'Máy', N'1')
INSERT [dbo].[equip_group] ([id], [rcp_code], [quantity], [price], [eg_name], [warranty], [unit], [batch]) VALUES (45, N'7891234', 3, 1500000.0000, N'máy chạy bộ ', 0, N'Máy', N'7871')
SET IDENTITY_INSERT [dbo].[equip_group] OFF
GO
SET IDENTITY_INSERT [dbo].[equipment] ON 

INSERT [dbo].[equipment] ([id], [eg_id], [des]) VALUES (145, 44, N'')
INSERT [dbo].[equipment] ([id], [eg_id], [des]) VALUES (146, 44, N'máy 2')
INSERT [dbo].[equipment] ([id], [eg_id], [des]) VALUES (147, 44, N'')
SET IDENTITY_INSERT [dbo].[equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[receipt] ON 

INSERT [dbo].[receipt] ([id], [rcp_code], [rcp_date], [supplier_id], [staff_id], [total]) VALUES (73, N'123456', CAST(N'2021-05-19' AS Date), 16, 1, 369000.0000)
INSERT [dbo].[receipt] ([id], [rcp_code], [rcp_date], [supplier_id], [staff_id], [total]) VALUES (74, N'7891234', CAST(N'2021-05-24' AS Date), 16, 1, 4500000.0000)
SET IDENTITY_INSERT [dbo].[receipt] OFF
GO
SET IDENTITY_INSERT [dbo].[record] ON 

INSERT [dbo].[record] ([id], [account_id], [record_date], [act]) VALUES (1, 1, CAST(N'2021-05-10T00:00:00.000' AS DateTime), N'Thêm nhà cung cấp')
INSERT [dbo].[record] ([id], [account_id], [record_date], [act]) VALUES (2, 1, CAST(N'2021-05-10T08:52:10.863' AS DateTime), N'Chỉnh sửa nhà cung cấp')
INSERT [dbo].[record] ([id], [account_id], [record_date], [act]) VALUES (3, 1, CAST(N'2021-05-10T08:57:18.543' AS DateTime), N'Xóa nhà cung cấp')
GO
SET IDENTITY_INSERT [dbo].[record] OFF
GO
SET IDENTITY_INSERT [dbo].[staff] ON 

INSERT [dbo].[staff] ([id], [id_code], [first_name], [last_name], [birth_date]) VALUES (1, N'2736586593453534', N'Trí', N'Trần Nguyên Thiên', CAST(N'2000-05-25' AS Date))
INSERT [dbo].[staff] ([id], [id_code], [first_name], [last_name], [birth_date]) VALUES (2, N'2736586591', N'Trí', N'Trần Nguyên Thiên', CAST(N'2000-05-25' AS Date))
INSERT [dbo].[staff] ([id], [id_code], [first_name], [last_name], [birth_date]) VALUES (3, N'123457890', N'đạt', N'hồ quốc', CAST(N'2000-06-08' AS Date))
SET IDENTITY_INSERT [dbo].[staff] OFF
GO
SET IDENTITY_INSERT [dbo].[state] ON 

INSERT [dbo].[state] ([id], [equipment_id], [state_date], [state_des], [check], [act]) VALUES (158, 145, CAST(N'2021-05-19T19:39:33.570' AS DateTime), N'Bình thường', 0, N'Thêm mới')
INSERT [dbo].[state] ([id], [equipment_id], [state_date], [state_des], [check], [act]) VALUES (166, 145, CAST(N'2021-05-31T08:59:28.830' AS DateTime), N'Đang sữa chữa', 1, N'Chỉnh sửa')
INSERT [dbo].[state] ([id], [equipment_id], [state_date], [state_des], [check], [act]) VALUES (159, 146, CAST(N'2021-05-19T19:39:33.587' AS DateTime), N'Bình thường', 0, N'Thêm mới')
SET IDENTITY_INSERT [dbo].[state] OFF
GO
SET IDENTITY_INSERT [dbo].[suppliers] ON 

INSERT [dbo].[suppliers] ([id], [name], [tax_id], [address]) VALUES (16, N'the gym', N'03676490491', N'hàn thuyên, thủ đức')
INSERT [dbo].[suppliers] ([id], [name], [tax_id], [address]) VALUES (17, N'fit-ness', N'273658659', N'đinh bộ lĩnh, bình thạnh')
SET IDENTITY_INSERT [dbo].[suppliers] OFF
GO
/****** Object:  Index [UQ__account__1963DD9D26A01085]    Script Date: 10/06/2021 2:57:52 CH ******/
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [UQ__account__1963DD9D26A01085] UNIQUE NONCLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__account__F3DBC5724A5A1C5A]    Script Date: 10/06/2021 2:57:52 CH ******/
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [UQ__account__F3DBC5724A5A1C5A] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__receipt__FAE251D110073193]    Script Date: 10/06/2021 2:57:52 CH ******/
ALTER TABLE [dbo].[receipt] ADD  CONSTRAINT [UQ__receipt__FAE251D110073193] UNIQUE NONCLUSTERED 
(
	[rcp_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__staff__097F328619E20A95]    Script Date: 10/06/2021 2:57:52 CH ******/
ALTER TABLE [dbo].[staff] ADD UNIQUE NONCLUSTERED 
(
	[id_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__state__3213E83E46781D21]    Script Date: 10/06/2021 2:57:52 CH ******/
ALTER TABLE [dbo].[state] ADD  CONSTRAINT [UQ__state__3213E83E46781D21] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__supplier__129B8671C4C8992E]    Script Date: 10/06/2021 2:57:52 CH ******/
ALTER TABLE [dbo].[suppliers] ADD UNIQUE NONCLUSTERED 
(
	[tax_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [DF_account_avatar]  DEFAULT ('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAARVBMVEWVu9////+QuN6Rud6Mtt2nxuTg6vWavuDp8Pi80+rJ2+6fweLR4fDN3u/3+vzl7vexzOfa5vO/1evy9vusyeW2z+ju8/mJFiEAAAAGxUlEQVR4nO2d67ajKBCFFfCGJmqief9HbYnJykVNq2ziNofvx0yv6e6zsgeoogrYCQKPx+PxeDwej8fj8VAhRYcU/b+2/jBYpJRK5FWmi7qO47iuC51VuVDdf9/6oyGQQkU6PoZDjrGO1O5HU4gsHhH3IM6E2PpDrkeq5rO8m8hK7XMgpcrOM/Rd52u2Q41StWNrb1JjuzeNMr8s0Ge45LuSqPRCfQattv7Y85HpCoFhmO5lFGW+Sp9hHzNVRKsFhmG0g+QoGwuBYdjQS5Q2I3gdRfaJmlgKDMNkawmfUXO3MdOcqeepqq0FhmFNnBdlBRAYhhXvUhQQgWFIO09FAVJYsEq0j6N3SOOpQISZnppzEHFDSDqIsFVooFyJCigwDAlzosygCjO+nChKqMKSbxAlVGAYbq1nAHiSEk5TYDLsoUuJakl3dA5HtoWITPc9ZElftnCFLddCFAe4wgPXQpRzDpmWEXONIaA/886ZK9RgN6U9XAoDBwq3lvTK+qOKafKtRb1g2+keI9pa1DOgNuIrVE1FBwmfLOXDKwsDVXXhFXqFO1D485EmsDvaHqfZWtQz1mfbY3Cdd+NLfLYiH3Vy+AxXBfz71dPvV8C/38WAHq31kB2wyRNc4YlrDB2kfKqEH/yBnreDdMEVSrtQs+5a8DQpV6BxEEzJQulfOCGFd0y5uqUGdKhhCzT4uxhsy7BTuOYRyTSaTyG4zKdq6d/4+VtfgUAWUDHfJAWXF2yFxQ2gQrZtd49a+uRwmgvjMuymKS5faM5J+vs32QOFqqBSzkkKrC/46oo7P/9mBlUG010tfQJTJPKVhg8UooQivMT+BKLAYCwrHgASBm2quGE/iNxDCFiJ3KvQYBtOmQNpj2VOpGsEjyBsXl4cdyDQzjaiod2RPqPWz9OCPsz0rL62QHY54QNrS2HWwnfIyqW4j0XYs6oW5q17x1DLm6en3SzCnsUS9yawS/zLLtW2e0j1byxyxNqDA9YQGcytM8odGZnKl7FQ80Jq9rIEqR1NhTq9XoMRwf+feNfB619JT4p1ysrrwcVbE0IknzXWyaucaxtEM85aqfLbhvvyNgJC6ql96lnL9z98O78qcjK3T6HaRwvq/P67nXo9DDqlHlHx+H+RtjST1Vghv9ZLx3zw2bo/lLe6iMv0kpZxodt8xCNZ5K/Fc0FhpGzkDYv6dmyDIkXv5W3+OfbB1XCPcDQiXUv4xLg8wwpXuQk3uw1FSpUcplsyx2iZRhV9+FmHZIO4I1X1nx3LW577yH/zZvl1R2xVzehU6Jlm5GLODYBz9c3iQyQzjycG+W7sh8294ZAmX1uPS2q/uvkYJ4RqFlj3fKuGVMuudx2LZvTrHkzmaCZC8RTxVySuOUArD1Wi1C0dmoSoVFIdVhzifOPobf3h0rmsi4PW+lDU5eqHYO6Ppiwa2hhct8Wd2EMsw7GZBNp3bg1OFUKckG1x6aTs5Mn2chw+8oZdzbPDXcogGUKHgwi9q26Ds3vuLmwF1uHooNGBr95aHPnxwe0t1+PIGJMlzhicXA1z8OR+PU4uFhFNUkfT1IWt3nocXH8DvhdB4ODNCfiNqC0O3pi6cKCxAb4Qafakd+B7U7Jl6GAhOrDYsQNu0EOVDQ34jLi1ogFogS5M9ewAO/SA/QQQgD0J6AINPNQ48GOzBXxlmm1HY4AqpNvRGKC7Gices7ZAb01T1fd3oHU+WenUAy2g6PZsBui+jeFQbQhwHVKGUmgwpQyl0GBK1M9/Btjbpzl0egV4BAX01kEC9Olh3JUagOliaykTwPSRJgtgunDyzQcIYN+eQNcrvQPrmVJWFgZYdUHYpOmBtWrgLsgoYG7KhG2oHlgzijXh41K+i6/nwICapTx3od5B3Y3iuqPwDOq+At+pzB3Q6Qztpg22bSPtYRhAfQwH3z+CAmQ3TLvxhm29SftQBlAv6g8oJJ6lGIW/ny3+wK6N5CHJENjTEtpeWw47uBDbv8kbowIekYqcb6KmuBG8oiKGh3kP6oWeDTOQQmYsA5lm0o3piVSB3v4U6qIDlw4SUiWnLUcyPX3BBEQqmW3TIo4z+S3/D2MrpL87lKn+tuFQJ1I0h++oTHUjNvJTEmYsY5e3iY6xGbtNjZSk7CJsdSjxMo/loeqiJod1m+wGM6lwo9mNXJWocb+sDTEyZXMqUis/77Q4NZJP3BNGZxBlRbz0vOocH7KIW9szRmcn1HjQXT4P6fFi/OmiQO1G2zNdlBBSKSXzqGpPxpemjg218ak5tVWUX39XkEQTK2Sn9mou1NP/Mti/Lo/H4/F4PB6Px+P5Hf4BrxJp8oCGoikAAAAASUVORK5CYII=') FOR [avatar]
GO
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [DF_account_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[state] ADD  CONSTRAINT [DF_state_check]  DEFAULT ((1)) FOR [check]
GO
ALTER TABLE [dbo].[state] ADD  CONSTRAINT [DF_state_act]  DEFAULT (' ') FOR [act]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [FK_account_staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[staff] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [FK_account_staff]
GO
ALTER TABLE [dbo].[des_rcp]  WITH CHECK ADD  CONSTRAINT [FK_des_rcp_eglist] FOREIGN KEY([eg_code])
REFERENCES [dbo].[eglist] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[des_rcp] CHECK CONSTRAINT [FK_des_rcp_eglist]
GO
ALTER TABLE [dbo].[equip_group]  WITH CHECK ADD  CONSTRAINT [FK_equip_group_receipt] FOREIGN KEY([rcp_code])
REFERENCES [dbo].[receipt] ([rcp_code])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[equip_group] CHECK CONSTRAINT [FK_equip_group_receipt]
GO
ALTER TABLE [dbo].[equipment]  WITH CHECK ADD  CONSTRAINT [FK_equipment_equip_group] FOREIGN KEY([eg_id])
REFERENCES [dbo].[equip_group] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[equipment] CHECK CONSTRAINT [FK_equipment_equip_group]
GO
ALTER TABLE [dbo].[receipt]  WITH CHECK ADD  CONSTRAINT [FK_receipt_account] FOREIGN KEY([staff_id])
REFERENCES [dbo].[account] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[receipt] CHECK CONSTRAINT [FK_receipt_account]
GO
ALTER TABLE [dbo].[receipt]  WITH CHECK ADD  CONSTRAINT [FK_receipt_suppliers] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[receipt] CHECK CONSTRAINT [FK_receipt_suppliers]
GO
ALTER TABLE [dbo].[record]  WITH CHECK ADD  CONSTRAINT [FK_record_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[record] CHECK CONSTRAINT [FK_record_account]
GO
ALTER TABLE [dbo].[state]  WITH CHECK ADD  CONSTRAINT [FK_state_equipment] FOREIGN KEY([equipment_id])
REFERENCES [dbo].[equipment] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[state] CHECK CONSTRAINT [FK_state_equipment]
GO
/****** Object:  StoredProcedure [dbo].[DeleteEG]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[DeleteEG]
(
	@rcp_code nvarchar(20)
)
as 
begin
	delete from des_rcp where rcp_code = @rcp_code
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteEquipment]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[DeleteEquipment]
(
	@id int,
	@account_id int
)
as 
begin
	insert into state (equipment_id, state_date, state_des, act) values (@id, GETDATE(), N'Đã xóa', N'Xóa')
	update state set [check] = 0 where equipment_id = @id 
	insert into record (account_id, record_date, act) values (@account_id, GETDATE(), N'Xóa thiết bị')
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteNcc]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[DeleteNcc]
(
	@id int,
	@account_id int
)
as
begin
	delete from suppliers where id = @id
	insert into record (account_id, record_date, act) values (@account_id, GETDATE(), N'Xóa nhà cung cấp')
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteReceipt]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[DeleteReceipt] 
(
	@rcp_code nvarchar(20),
	@account_id int
)
as
begin
	delete from equip_group where rcp_code = @rcp_code
	delete from receipt where rcp_code = @rcp_code
	insert into record (account_id, record_date, act) values (@account_id, GETDATE(), N'Xóa hóa đơn')
end
GO
/****** Object:  StoredProcedure [dbo].[EditActive]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EditActive]
(
	@account_id int,
	@active bit
)
as
begin
	update account set active = @active where id = @account_id
end

GO
/****** Object:  StoredProcedure [dbo].[EditAvatar]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EditAvatar]
(
	@account_id int,
	@avatar image
)
as
begin
	update account set avatar = @avatar where id = @account_id
end
GO
/****** Object:  StoredProcedure [dbo].[EditEquipment]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[EditEquipment]
(
	@id int,
	@state_des nvarchar(20),
	@des nvarchar(50), 
	@account_id int
) 
as
begin
	update state set [check] = 0 where equipment_id = @id
	update equipment set des = @des where id = @id
	insert into state (equipment_id, state_date, state_des, act) values (@id, GETDATE(), @state_des, N'Chỉnh sửa')
	insert into record (account_id, record_date, act) values (@account_id, GETDATE(), N'chỉnh sửa thiết bị')
end
GO
/****** Object:  StoredProcedure [dbo].[EditNcc]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[EditNcc]
(
	@id int,
	@tenncc nvarchar(50),
	@mathue nvarchar(20),
	@diachi nvarchar(50),
	@account_id int
)
as 
begin
	update suppliers set name = @tenncc, address = @diachi, tax_id = @mathue where id = @id
	insert into record (account_id, record_date, act) values (@account_id, GETDATE(), N'Chỉnh sửa nhà cung cấp')
end
GO
/****** Object:  StoredProcedure [dbo].[EditProfile]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[EditProfile]
(
	@staff_id int,
	@first_name nvarchar(10),
	@last_name nvarchar(20),
	@id_code nvarchar(20),
	@birth_date date
)
as
begin
	update staff set id_code = @id_code, first_name = @first_name, last_name = @last_name, birth_date = @birth_date where id = @staff_id
end
GO
/****** Object:  StoredProcedure [dbo].[EditPwd]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EditPwd]
(
	@account_id int,
	@old_pwd nvarchar(20),
	@new_pwd nvarchar(20)
)
as
begin
	if @old_pwd = (select pwd from account where id = @account_id)
		update account set pwd = @new_pwd where id = @account_id		
	else 
		select N'sai mật khẩu' as msg
end
GO
/****** Object:  StoredProcedure [dbo].[EditReceipt]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[EditReceipt]
(
	@id int,
	@rcp_code nvarchar(20),
	@rcp_date date,
	@supplier_id int,
	@staff_id int,
	@total money,
	@account_id int
)
as
begin
	update receipt set rcp_code = @rcp_code, rcp_date = @rcp_date, supplier_id = @supplier_id, staff_id = @staff_id, total = @total where id = @id
	insert into record (account_id, record_date, act) values (@account_id, GETDATE(), N'Chỉnh sửa hóa đơn')
end
GO
/****** Object:  StoredProcedure [dbo].[EditRole]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EditRole]
(
	@account_id int,
	@role nvarchar(10)
)
as
begin
	update account set rol = @role where id = @account_id
end
GO
/****** Object:  StoredProcedure [dbo].[FetchEG]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[FetchEG]
(
	@rcp_code nvarchar(20)
)
as 
begin
	select id, eg_name as name, warranty as warrantyPeriod, unit, batch, rcp_code, quantity, price from equip_group where rcp_code = @rcp_code
end
GO
/****** Object:  StoredProcedure [dbo].[FetchEquipment]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[FetchEquipment]
(
	@id int
) 
as
begin
	select equipment.id, eg_name, warranty, des, state.state_des  from equipment inner join equip_group on equipment.eg_id = equip_group.id inner join receipt on equip_group.rcp_code = receipt.rcp_code inner join suppliers on receipt.supplier_id = suppliers.id inner join state on state.equipment_id = equipment.id where state.[check] = 1 and equipment.id = @id
end
GO
/****** Object:  StoredProcedure [dbo].[FetchRecord]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[FetchRecord] 
(
	@rol nvarchar(10)
)
as
begin
	if @rol = N'admin'
		select last_name + ' ' + first_name as staff_name, staff_id, act, record_date from record inner join account on account_id = account.id inner join staff on account.id = staff.id
	else 
		select 'no permission' as msg
end
GO
/****** Object:  StoredProcedure [dbo].[GetAccount]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAccount]
(	@username nvarchar(20),
	@password nvarchar(20)
)
as
begin
	select id, username, rol, active from account where username = @username and pwd = @password and active = 'true'
end
GO
/****** Object:  StoredProcedure [dbo].[GetAccounts]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAccounts]
(
	@rol nvarchar(10)
)
as
begin
	if @rol = N'admin'
		select account.id, username, rol, id_code, last_name, first_name, birth_date, active from account inner join staff on staff_id = staff.id
	else 
		select 'no permission' as msg
end
GO
/****** Object:  StoredProcedure [dbo].[GetEquipment]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetEquipment]
as
begin
	select equipment.id, eg_name, warranty, suppliers.name, des, state.state_des, rcp_date  from equipment inner join equip_group on equipment.eg_id = equip_group.id inner join receipt on equip_group.rcp_code = receipt.rcp_code inner join suppliers on receipt.supplier_id = suppliers.id inner join state on state.equipment_id = equipment.id where state.[check] = 1
end
GO
/****** Object:  StoredProcedure [dbo].[GetProfile]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[GetProfile]
(
	@account_id int
)
as
begin
	select first_name, last_name, birth_date, id_code, staff_id, avatar from account inner join staff on staff_id = staff.id where account.id = @account_id
end
GO
/****** Object:  StoredProcedure [dbo].[GetStateRecord]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetStateRecord]
(
	@rol nvarchar(10)
)
as
begin
	if @rol = N'admin'
		select equipment.id as equip_id, eg_name, state_date, des, state.state_des, state.act  from equipment inner join equip_group on equipment.eg_id = equip_group.id inner join receipt on equip_group.rcp_code = receipt.rcp_code inner join suppliers on receipt.supplier_id = suppliers.id inner join state on state.equipment_id = equipment.id order by state_date ASC
	else 
		select 'no permission' as msg
end
GO
/****** Object:  StoredProcedure [dbo].[InsertAccount]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertAccount]
(	
	@account_id int,
	@id_code nvarchar(20),
	@first_name nvarchar(10),
	@last_name nvarchar(20),
	@birth_date date,
	@username nvarchar(20),
	@rol nvarchar(10)
)
as
begin
	insert into staff (id_code, first_name, last_name, birth_date) values (@id_code, @first_name, @last_name, @birth_date)
	insert into account (username, pwd, rol, staff_id) values (@username, '123456', @rol, SCOPE_IDENTITY())
	insert into record (account_id, record_date, act) values (@account_id, GETDATE(), N'Thêm tài khoản')
end

GO
/****** Object:  StoredProcedure [dbo].[InsertEg]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertEg] 
(
	@eg_name nvarchar(20),	
	@warranty int,	
	@unit nvarchar(10),	
	@batch nvarchar(10),
	@rcp_code nvarchar(20),
	@quantity int,
	@price money 
)
as
begin
	insert into equip_group (rcp_code, quantity, price, eg_name, warranty, unit, batch) values (@rcp_code, @quantity, @price, @eg_name, @warranty, @unit, @batch)
	select SCOPE_IDENTITY() as id
end
GO
/****** Object:  StoredProcedure [dbo].[InsertEquipment]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertEquipment]
(
	@eg_id int
)
as 
begin
	insert into equipment (eg_id, des) values (@eg_id, '')
	insert into state (equipment_id, state_date, state_des, act) values (SCOPE_IDENTITY(), GETDATE(), N'Bình thường', N'Thêm mới')
end
GO
/****** Object:  StoredProcedure [dbo].[InsertNcc]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertNcc]
(
	@ten nvarchar(50),
	@diachi nvarchar(50),
	@mathue nvarchar(20),
	@account_id int
)
as
begin
	insert into suppliers (name, address, tax_id) values (@ten, @diachi, @mathue)
	insert into record (account_id, record_date, act) values (@account_id, GETDATE(), N'Thêm nhà cung cấp')
	select * from suppliers where tax_id = @mathue
end
GO
/****** Object:  StoredProcedure [dbo].[InsertReceipt]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertReceipt] 
(
	@rcp_code nvarchar(20),
	@rcp_date date,
	@supplier_id int,
	@staff_id int,
	@total money, 
	@account_id int
)
as
begin
	insert into receipt (rcp_code, rcp_date, supplier_id, staff_id, total) values (@rcp_code, @rcp_date, @supplier_id, @staff_id, @total)
	insert into record (account_id, record_date, act) values (@account_id, GETDATE(), N'Thêm mới hóa đơn')
	select receipt.id, rcp_code, rcp_date, name, receipt.supplier_id, staff_id, total from receipt inner join suppliers on receipt.supplier_id = suppliers.id where rcp_code = @rcp_code
end
GO
/****** Object:  StoredProcedure [dbo].[ResetPwd]    Script Date: 10/06/2021 2:57:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ResetPwd]
(
	@rol nvarchar(10),
	@id int,
	@account_id int
)
as
begin
	if @rol = N'admin'
		begin
			update account set pwd = '123456' where id = @id
			insert into record (account_id, record_date, act) values (@account_id, GETDATE(), N'Đặt lại mật khẩu')
		end
	else 
		select 'no permission' as msg
end
GO
USE [master]
GO
