.homepage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 10px;
    color: black;

    button {
        width: 150px;
    }

    .chose {
        background-color: #0069d9;
    }
}