.header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #2D5F8B;
    color: black;

    .user-name {
        width: 150px;
        color: white;
        padding-top: 12px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-right: 100px;
        
        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    }

    .slice-bar {
        height: 100%;
        width: 200px;
        display: flex;
        justify-content: space-between;

        .bm-overlay{
            left: 0;
        }

        .bm-burger-button {
            position: relative;
            width: 20px;
            height: 15px;
            left: 25px;
            top: 20px;
        }

        .bm-burger-bars {
            background: white;
        }

        .bm-burger-bars-hover {
            background: #F1F5F7;
        }

        .bm-menu-wrap {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }

        .bm-menu {
            background: #373a47;
            padding: 2.5em 1.5em 0;
            font-size: 1.15em;

            a {
                color: #b8b7ad;
            
                &:hover {
                  color: #c94e50;
                }
            }
            
            .bm-item-list {            
                padding: 0.8em;

                .bm-item {
                    display: inline-block;
                    margin-bottom: 10px;
                    font-size: 30px;
        
                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        
        
        .logo-container {
            position: relative;
            width: 70px;
            height: 100%;
            margin-right: 30px;
            cursor: pointer;
        }
    }   
}