.page {

    .input-form {
        width: 500px;
    }
    .form-group {
        margin-bottom: 0;
    }

    .btn-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        button {
            width: 200px;
            margin: 10px;
        }
    }

    .name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .avatar {
        align-self: center;
        vertical-align: middle;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}