.page {
    .new {
        width: 500px;
    }
    
    .group-btn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        button {
            width: 200px;
        }
    }

    .name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .avatar {
        align-self: center;
        vertical-align: middle;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .warnning {
        text-align: center;
        font-weight: 500;
        color: red;
    }
}