body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .root {
    height: 100vh;
  }

  .body-wrapper {
    height: 100%;
  }

  .page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 10px 10px 10px;
    color: black;

    .pagination {
      height: 50px;
    }
  }

  .search {
    display: block;
    width: 250px;
    height: calc(1.5em + .75rem + 2px);
    margin: 24.8px 10px 0 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .search-filter {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$base-color: black;
$blue-color: #22ac11;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $base-color;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  color: unset;
  background-color: unset;
  border-color: unset;
}

h1 {
  text-align: center;
  margin-top: 1rem;
  font-size: 2.2rem;
}

.btn {
  letter-spacing: 1px;
}

.input-form {
  width: 60%;
  margin: 3rem auto;
}

.errorMsg {
  max-width: 350px;
  color: #f21e08;
  padding: 2px 0;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 300;
}

.login-error {
  font-size: 1.1rem;
}

.successMsg {
  color: $blue-color;
}

.loading {
  color: #777;
}

.form-control.input-error {
  border: 2px solid #f21e08;
}

.user-details {
  color: $blue-color;
  padding: 5px 0;
  margin-bottom: 1rem;
}


